/*
Filename: news_tablet_styles.css
Company: Touchdown Delivery, LLC
Author: Darien Tsai
Collaborators: none
Date Created: 12/14/18
Description: 
styling for the news page, tablet dimensions
*/

@media only screen and (min-width: 641px){

/*Navigation Styles*/
#static-nav{
  height: 5vh;
}

#static-nav a{
  font-size: 2em;
  line-height: 1.5;
}

/*Header Styles Are Inhereted*/

/*Updates Styles*/


#updates-presenter{
  border-top: 2px solid var(--element-hue);
}

.log-title{
  font-size: 1.3em;
}
/*Reading Styles*/

.content-img{
  padding: 0;
}

/*End of media query*/
}