/*
Filename: news_tablet_styles.css
Company: Touchdown Delivery, LLC
Author: Darien Tsai
Collaborators: none
Date Created: 12/14/18
Description: 
styling for the news page, tablet dimensions
*/

@media only screen and (min-width: 641px){

/*Navigation Styles*/
#static-nav{
  height: 5vh;
}

#static-nav a{
  font-size: 2em;
  line-height: 1.5;
}

/*Header Styles Are Inhereted*/

/*Updates Styles*/


#updates-presenter{
  border-top: 2px solid var(--element-hue);
}

.log-title{
  font-size: 1.3em;
}
/*Reading Styles*/

.content-img{
  padding: 0;
}

/*Tootltip styles*/
.tooltip{
  border-bottom: 2px solid var(--text-light);
  font-style: oblique;
}

.tooltip:hover{
  border-bottom: 2px solid var(--text-hue);
}

.tooltip:hover:after{
  opacity: 0.83;
  transform: none;
  width: auto;
}
.tooltip:after{
  content: attr(name);
  background-color: black;
  color: white;
  padding: 0.5% 1%;
  text-indent: 0px;
  border-radius: 5px;
  font-size: 0.5em;
  position: absolute;
  right: 0;
  bottom: 2.2em;
  z-index: 2;
  height: 2em;
  white-space: nowrap;
  transition-duration: 0.3s;
  transform: translateY(1.7em);
  opacity: 0;
}

/*End of media query*/
}