/*
Filename: news_mobile_styles.css
Company: Touchdown Delivery, LLC
Author: Darien Tsai
Collaborators: none
Date Created: 12/14/18
Description: 
styling for the news page, mobile dimensions
*/

/*Navigation Styles*/
#static-nav{
  width: 100vw;
  height: 3vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5%;
  box-sizing: border-box; 
  -webkit-transform: translateY(-5vh);
      -ms-transform: translateY(-5vh);
          transform: translateY(-5vh);
  background-color: var(--bg-hue);
  -webkit-animation: nav-in 0.7s 1 cubic-bezier(0.1, 0.7, 0.165, 1) forwards;
          animation: nav-in 0.7s 1 cubic-bezier(0.1, 0.7, 0.165, 1) forwards;
}

#static-nav a{
  font-size: 1em;
  color: var(--text-hue);
}

#static-nav a:hover{
  color: var(--text-dark);
}

/*Header Styles*/
header{
  font-size: 1.7vh;
}

header.init{
  background-color: var(--bg-light);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  -webkit-animation: header-minimize 0.3s 0.6s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
          animation: header-minimize 0.3s 0.6s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
}
header.show{
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  opacity: 0;
  -webkit-animation: header-minimize 0.3s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
          animation: header-minimize 0.3s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
}

#head-title{
  opacity: 0;
  color: var(--text-dark);
  -webkit-animation: fade 1.2s 0.1s 1 cubic-bezier(0.1, 0.7, 0.165, 1) forwards;
          animation: fade 1.2s 0.1s 1 cubic-bezier(0.1, 0.7, 0.165, 1) forwards;
}

header.hide{
  color: var(--transparent);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  height: 17vh;
  -webkit-animation: header-close 0.45s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
          animation: header-close 0.45s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
}

/*Updates Styles*/

#updates.empty{
  height: fit-content;
}

#updates.on{
  display: default;
  width: 100vw;
  height: fit-content;
  opacity: 0;
  -webkit-animation: reading-open 0.3s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
          animation: reading-open 0.3s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
}

#updates.off{
  opacity: 1;
  height: 80vh;
  -webkit-animation: reading-close 0.2s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
          animation: reading-close 0.2s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
}

#updates-presenter{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1%;
  width: 70%;
  height: fit-content;
  margin: auto;
  border-top: 1px solid var(--element-hue);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  -webkit-animation: fade 1.5s 0.3s 1 cubic-bezier(0.1, 0.7, 0.165, 1) forwards;
          animation: fade 1.5s 0.3s 1 cubic-bezier(0.1, 0.7, 0.165, 1) forwards;
}

.log{
  margin: 2%;
  padding: 1%;
  width: 90%;
  background-color: var(--element-light);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
      -ms-flex-pack: justify;
          justify-content: space-around;
  color: var(--text-dark);
  text-align: center;
  border-bottom: 5px solid var(--element-hue);
  height: fit-content;
}

.thumb{
  width: 98%;
}

.thumb img{
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
}

.text{
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1%;
}

.log-title{
  font-size: 1.2em;
}

.log-date{
  font-size: 0.6em;
  padding: 1%;
  color: var(--text-hue);
}

.log-desc{
  text-align: left;
  font-size: 0.9em;
  padding: 1%;
  letter-spacing: 0.5px;
  text-indent: 3%;
  line-height: 1.5;
}
/*Reading Styles*/

#content.on{
  display: default;
  width: 80%;
  margin: auto;
  opacity: 0;
  overflow: visible;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-animation: reading-open 0.2s 0.1s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
          animation: reading-open 0.2s 0.1s 1 cubic-bezier(0.595, 0.165, 0.230, 0.995) forwards;
}

#content.off{
  display: none;
}
  
#content-nav{
  width: 90%;
  text-align: center;
  font-size: 1.1em;
  margin: auto;
  padding: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 3px solid var(--element-light);
}

#back{
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  margin: auto;
}

#back p{
  text-align: center;
}

#append{
  width: 85%;
  height: fit-content;
  margin: auto;
}
.content-title{
  font-size: 2em;
  color: var(--text-dark);
  padding: 2% 0 0 0;
}

.content-sub{
  font-size: 0.8em;
  color: var(--text-hue);
  padding: 1%;
}

.content-img{
  width: 100%;
  display: block;
  color: var(--text-light);
  font-size: 1.9em;
  padding: 0.2%;
}

.content-section{
  font-size: 1em;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
  text-indent: 30px;
  padding: 1%;
}

.content-figure{
  display: block;
  margin: auto;
  width: 85%;
  padding: 2%;
  box-sizing: border-box;
}

#content-go-up{
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2%;
}

#content-up{
  font-size: 2em;
  color: var(--text-light);
}

#content-up:hover{
  color: var(--text-hue);
}