/*
Filename: openings_pc_styles.css
Company: Touchdown Delivery, LLC
Author: Darien Tsai
Collaborators: none
Date Created: 12/21/18
Description: 
styling for the openings page, tablet dimensions.
*/

@media only screen and (min-width: 641px){

/*Navigation Styles*/
#static-nav{
  height: 5vh;
}

#static-nav a{
  font-size: 2em;
  line-height: 1.5;
}

/*Position Info Styles*/
#op-title{
  font-size: 2.2em;
}

#op-desc{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: initial;
  -webkit-align-items: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

/*End of media query*/
}